@charset "UTF-8";

#wrap {
	width: 1200px;
	height: 900px;
	margin: 0 auto;
}

header {
	height: 80px;
	background-color: #CCCCCC;
}

.contents > .input-box {
	width: 400px;
	background-color: #CCCCCC;
}

.contents > .post-box{
	width: 800px;
}

footer {
	height: 70px;
	background-color: #CCCCCC;
}